@charset "utf-8";
#header-top {
    background: yellow;
    height: 5px;
}
.job-an {
    font-size: 2em;
}

#top-navbar {
    background: white;
    border: none;
}

ul.navbar-right li {
    padding-top: 15px;
}

ul.navbar-right li a {
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

li a.active {
    border-bottom: solid 3px red;
    padding-bottom: 5px;
    margin-right: 10px;
    padding: 15px 2px 5px 2px;
}

#this-is-bootstrap {
    background: yellow;
}

#this-is-bootstrap,
#what-is-bootstrap {
    padding: 20px 0;
}

.bootstrap-h1-char {
    padding: 10px 0;
}

span.red {
    color: red;
}

span.black {
    color: black;
}

span.white {
    color: white;
}

#footer-content {
    background: gray;
}

#footer-main {
    padding: 20px 0;
}

#footer-bottom {
    background: yellow;
}

#footer-menu {
    list-style: none;
    margin-top: 20px;
    margin-left: -40px;
}

ul#footer-menu li {
    padding-bottom: 15px;
}

ul#footer-menu li a {
    border-bottom: dotted 1px white;
    display: inherit;
    color: aliceblue;
}
li.none-border a {
    border: none;
}

.form-control {
    border-radius: 0;
}

.btn-send {
    background-color: #adadad;
    border-color: #adadad;
    border-radius: 0;
    width: 150px;
}

.ggmap {
    position: relative;
    padding-bottom: 25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 767px) {
    ul.navbar-right,
    .left-header {
        display: flex;
        justify-content: center;
        margin-top: -10px;
    }
    .job-an {
            margin-top: 30px;
    }
    li a.active {
        padding: 10px 2px 5px 2px;
    }
}
